.detail-main-phrase {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail-main-phrase {
    font-family: 'BMHanna', 'sans-serif';
    font-size: 70px;
    font-weight: 400;
}
.detail-age {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin: 0 auto;
}
.detail-age label {
    font-size: 20px;
    margin-bottom: 8px;
    display: block;
    white-space: nowrap;
}
.detail-age select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 2px 5px rgba(147, 147, 147, 0.8);
}
.detail-billno {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin: 0 auto;
}
.detail-billno label {
    font-size: 20px;
    margin-bottom: 8px;
    display: block;
    white-space: nowrap;
}
.detail-billno #billno {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 2px 5px rgba(147, 147, 147, 0.8);
}
.detail-billnm {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin: 0 auto;
}
.detail-billnm label {
    font-size: 20px;
    margin-bottom: 8px;
    display: block;
    white-space: nowrap;
}
.detail-billnm #billnm {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 2px 5px rgba(147, 147, 147, 0.8);
}
.detail-proposer {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin: 0 auto;
}
.detail-proposer label {
    font-size: 20px;
    margin-bottom: 8px;
    display: block;
    white-space: nowrap;
}
.detail-proposer #proposer {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 2px 5px rgba(147, 147, 147, 0.8);
}
.detail-ppdt {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 440px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin: 0 auto;
}
.detail-ppdt label {
    font-size: 20px;
    margin-bottom: 8px;
    display: block;
    white-space: nowrap;
}
.detail-ppdt input[name="ppdt"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 2px 5px rgba(147, 147, 147, 0.8);
}
.detail-search-container {
    display: flex;
    aligh-items: center;
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
}