@font-face {
    font-family: 'BMHanna';
    src: url('/fonts/BMHANNA.woff2') format('woff2'),
    url('/fonts/BMHANNA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{ margin: 0; padding: 0; background-color: #111; height: 100%;}
.page { display: none; color: white; position: relative; width: 100%;}
.active { display: block; }
nav {
    position: sticky;
    top: 0;
    background-color: #222;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    gap: 30px 20px;
    padding-left: 20px;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.5);
    z-index: 1000;
}
nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: 'BMHanna', sans-serif;
    padding-right: 20px;
    border-right: 1px solid #919191;
}
nav a:first-child {
    font-size: 30px;
    text-shadow: 0 10px 4px rgba(207, 207, 207, 0.25);
    font-family: "Irish Grover", sans-serif;
}
nav a:last-child {
    line-height: 35px;
}
.term-group {
    margin-bottom: 12px;
}
.term-group h3 {
    font-size: 16px;
    color: #007bff;
    margin-bottom: 5px;
}
.term-content p {
    margin: 4px 0;
}